
week7/jetbot_basic_motion - video pergerakan.mp4
week7/jetbot_collect_data - video pengambilan data.mp4
week7/jetbot_collect_data - video proses pembangunan model.mp4
week7/jetbot_collision_avoidance - video peragaan penghindaran tabrakan.mp4
